attrs==19.1.0
beautifulsoup4==4.8.0
chardet==3.0.4
DataProperty==0.43.1
importlib-metadata==0.19
jsonschema==3.0.1
mbstrdecoder==0.8.1
msgfy==0.0.7
numpy==1.22.0
pandas==0.25.0
path.py==12.0.1
pathvalidate==0.29.0
pyrsistent==0.15.4
pytablereader==0.26.1
pytablewriter==0.46.1
python-dateutil==2.8.0
pytz==2019.1
six==1.12.0
soupsieve==1.9.2
tabledata==0.9.1
typepy==0.6.0
zipp==0.5.2
